/*
 * Translation table
 */

.polyglot_translations {
    overflow-x: auto;
    margin: 1em 0;
}
.polyglot_translations table {
    border-collapse: collapse;
    width: 99%;
}
.polyglot_translations td {
    border: 1px solid #888;
    padding: 0 0.2em;
}
