parameters:
  level: 7
  paths:
    - classes/
    - views/
    - index.php
  bootstrapFiles:
    - phpstan.php
  scanFiles:
    - ../../cmsimple/classes/PageDataRouter.php
    - ../../cmsimple/classes/Pages.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
  ignoreErrors:
    - message: '/Call to protected method [a-zA-Z0-9\\_]+\(\) of class Polyglot\\View\./'
      path: views/
