parameters:
  level: 1
  paths:
    - classes/
    - index.php
    - polyglot_view.php
  bootstrapFiles:
    - phpstan.php
  scanFiles:
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
