<!-- Polyglott_XH: administration -->
<h1>Polyglott &ndash; Translations</h1>
<div class="polyglott_translations">
    <table>
        <thead>
            <tr>
                <th>Page</th>
                <th>Tag</th>
<?php foreach ($languages as $language):?>
                <th><?php echo $language;?></th>
<?php endforeach;?>
            </tr>
        </thead>
        <tbody>
<?php foreach ($pages as $page):?>
            <tr>
                <td>
                    <a href="<?php echo $page['url'];?>" style="padding-left: <?php echo $page['indent'];?>em"><?php echo $page['heading'];?></a>
                </td>
                <td><?php echo $page['tag'];?></td>
<?php foreach ($page['translations'] as $translation):?>
                <td>
<?php if (isset($translation)):?>
                    <a href="<?php echo $translation;?>">&#10003;</a>
<?php endif;?>
                </td>
<?php endforeach;?>
            </tr>
<?php endforeach;?>
        </tbody>
    </table>
</div>
